body{
   background-image:url("../img/background.png");
}
.barinfo{
  float: right;
  list-style: none;
  font-family: Verdana sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 150px;
}
.milan{
  display: inline-block;
  padding-left: 0;
  margin-left: 150px;
  width: 150px;
}
.first{
  text-decoration: none;
  font-family: Verdana sans-serif;
  color:  #ffffff;
  font-size: 29px;
  font-weight: 700;
  line-height: 21px;
}
.second{
  text-decoration: none;
  font-family: Verdana sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding-left: 52px;
}
.tours{
  float: left;
  width:calc(1060px / 3);
  box-sizing: border-box;
}
.milan::before{
  content: url("../img/logo.png");
  padding-top: 30px;

}
.second:hover{
  color:#f26522
}
.first:hover{
  color:#f26522
}
.photos{
  margin-right: 80px;
  margin-left: 80px;
}
.copyright{
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
  font-size: 12pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  float: left;
  margin-right: 440px;
  margin-left: 440px;
  margin-bottom: 20px;
  margin-top: 61px;
}
.clearfix:after{
  content: '';
  clear:both;
  display: inline-block;
}