body{
    background-image: url("../img/background.png");
}
.bar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}



.milan {
    align-content: flex-start;
    display: flex;
    flex-direction: column;


}
.first{
    text-decoration: none;
    font-family: Verdana sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
}
.second{
    text-decoration: none;
    font-family: Verdana sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;}

.barinfo{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;
    font-family: Verdana sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.cards{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    padding-top: 50px;

}
.logo:hover{
    color:#f26522
}
.sprite {
    content: url("../img/logo.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.column{
    display: flex;
    flex-direction:column ;
    align-content: flex-start;
    justify-content: flex-start;
}
