#main{
	width:1280px;
	font-family:Verdana, Helvetica, sans-serif;
	margin:0 auto;
}
a{
	text-decoration:none;	
}
.logo{
	text-align:center;
	font-size:80px;
	color:black;
}
.ramda{
	color:#4bcaff;
}
header{
	width:1280px;
	margin-top:60px;
	background-color:#35444f;
	margin-right:100px;
	height:70px;
}
.header-content{
	margin-left:100px;
	margin-right:200px;
}
.a-header{
	display:inline-block;
	padding:25px 10px;
	margin-left:15px;
	min-width:150px;
	text-align:center;
	color:#ffffff;
}
.a-header:hover{
	background-color:#222f3a;
	box-shadow: inset 1px 0 0px #818181, inset -1px 0 0px #818181;
}
.header-selected{
	display:inline-block;
	padding:25px 5px;
	margin-left:15px;
	min-width:150px;
	text-align:center;
	color:#ffffff;	
	background-color:#222f3a;
	box-shadow: inset 1px 0 0px #818181, inset -1px 0 0px #818181;
}


.sidebar{
	border:1px solid black;
	width:346px;
	height:401px;
	margin-top:50px;
}
.sidebar-content{
	background-color:#ffffff;
	height:80px;
}
.sidebar-link{
	position:relative;
	top:30px;
	left:45px;
	color:#485863;
}
.sidebar-content:hover{
	padding-left:80px;
	background-color:#dbdbdb;
}
.sidebar-selected{
	height:80px;
	padding-left:80px;
	background-color:#dbdbdb;
}

.image{
	border:1px solid black;
	width:880px;
	height:530px;
	position:relative;
	left:400px;
	bottom:400px;
}

img{
	width:510px;
	height:360px;
	display: block;
	margin: 80px auto;
}
img:hover{
	transform:scale(1.4);
	transition:2s;
}
.text{
	width:850px;
	margin-left:415px;
	margin-top:-350px;
}
footer{
	width:1280px;
	margin-top:85px;
	background-color:#b4b7ba;
	margin-right:100px;
	height:70px;
	font-size:18px;
}
.footer-content{
	margin-left:5px;
}
.link-footer{
	display:inline-block;
	padding:25px 5px;
	margin-left:15px;
	min-width:150px;
	text-align:center;
	color:#000000;
}
.copyright{
	margin-left:1000px;
	margin-top:-50px;
}
.footer-selected{
	color:#3181a6;
	text-decoration:underline;
}
.link-footer:hover{
	color:#3181a6;
	text-decoration:underline;	
}

.logotype{
	width: 100%;
}

#change{
	width: 150px;
	height: 70px;
	position: relative;
	right:115px;
	bottom:2px ;
	cursor: pointer;
	background:#35444f;
	color:#fff;
	border:0px;
	box-shadow: inset 1px 0 0px #818181, inset -1px 0 0px #818181;
}






