#button-1{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#inp1{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#button-2{
	position: absolute;
	top: 54%;
    left: 50%;
    transform: translate(-50%,-50%)
}
#main{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
