
#cookie{
text-align: center;}
#progressbar {
    background-color: black;
    border-radius: 13px;
  width: 20%;
    padding: 3px;
}

#progressbar>div {
    background-color: orange;
    width: 100%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}